@import "@/assets/styles/variables.less";

.properties {
  position: absolute;
  top: @headerHeight;
  right: 0;
  width: @propertiesWidth;
  bottom: 0;
  z-index: 13;
  background-color: @bgColor;
	color: @textColor;
  transition: all .3s;
	border-left: 1px solid #D2D1D1;
}
