#dashboard {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  font-size: 12px;
	overflow: hidden;
}

@import 'web/src/assets/styles/variables.less';
@import 'web/src/assets/styles/layout.less';
@import 'web/src/assets/styles/aside.less';
@import 'web/src/assets/styles/area.less';
@import 'web/src/assets/styles/iconfont.less';
