

#root {
	position: relative;
	width: 100%;
	height: 100%;
}





.workarea {
  position: absolute;
  top: @headerHeight;
  left: @asideWidth;
  bottom: 0;
  right: @propertiesWidth;
  z-index: 12;
  background-color: #fff;
  transition: all .3s;
}
